body {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 6rem;

  &.lazyloaded {
    background-image: url('../img/texture.png');
    &.g-webp { background-image: url('../img/texture.webp')}
  }
  
}

